{# --------------------------------------------------------------- #}
{# Copyright (c) 2018 Daniel Eynis, Bishoy Hanna, Bryan Mikkelson, #}
{# Justin Moore, Huy Nguyen, Michael Olivas, Andrew Wood           #}
{# This program is licensed under the "MIT License".               #}
{# Please see the file LICENSE in the source                       #}
{# distribution of this software for license terms.                #}
{# --------------------------------------------------------------- #}

{% extends '_layout.njk' %}

{% block adminCurrent %}
<a class="nav-link dropdown-toggle active" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin management<span class="sr-only">(current)</span></a>
{% endblock %}

{% block content %}
<form action="/adminReset" method="POST">
  <h2>Reset your admin (or another admins) account password</h2>
    <div class="form-group">
      <input name="email" type="email" class="form-control" placeholder="Enter email" style="width: 300px;" required>
    </div>
    <div class="form-group">
      <input name="password" type="password" class="form-control" id="createpassword" placeholder="Enter new password" style="width: 300px;" required>
    </div>
    <div class="form-group">
      <input name="reenterpassword" type="password" class="form-control" id="reenterpassword" placeholder="Re-enter new password" style="width: 300px;" required>
    </div>
  <button class="btn btn-primary" type="submit" role="button">Reset password</button>
</form>
{% endblock %}

{% block custom_scripts %}
<script>
  $(function() {
    $('#resetAdminNav').addClass("active");
  });
</script>
{% endblock %}