{# --------------------------------------------------------------- #}
{# Copyright (c) 2018 Daniel Eynis, Bishoy Hanna, Bryan Mikkelson, #}
{# Justin Moore, Huy Nguyen, Michael Olivas, Andrew Wood           #}
{# This program is licensed under the "MIT License".               #}
{# Please see the file LICENSE in the source                       #}
{# distribution of this software for license terms.                #}
{# --------------------------------------------------------------- #}

{% extends '_layout.njk' %}

{% block description %}
<meta name="description" content="User Management for admin">
{% endblock %}

{% block title %}
<title>LUCCA User Management</title>
{% endblock %}

{% block adminCurrent %}
<a class="nav-link dropdown-toggle active" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin management<span class="sr-only">(current)</span></a>
{% endblock %}

{% block content %}
<div class="panel panel-default user_panel">
    <div class="panel-heading">
        <h3 class="panel-title"><center>User Management Page</center></h3>
    </div>
</div>
<br />

<div class="container-fluid" style="border:0.75px solid #cecece;">
    <div class="row">
      <div class="panel panel-default pl-2 pb-2">
        <h4 class="panel-title font-weight-bold">Search for user by:</h4>
      </div>
    </div>

  <form method="POST" action="/userManagement" id="searchForm" class="searchUserForm">
    <div class="form-group row">
      <label for="name" class="col-1 col-form-label font-weight-bold text-right">Name:</label>
      <div class="col-3">
        <input id="name" name="nameInput" type="searchBox" placeholder="Enter user name"/>
      </div>
      <label for="dateRange" class="col-2 col-form-label font-weight-bold text-right">Registered date:</label>
      <div class="col-3">
        <input id="dateRange" name="dateFilter" type="searchBox" placeholder="Select date range" style="background: #eee; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"/>
      </div>
      <label class="col-1 col-form-label font-weight-bold text-right" for="statusSelector">Status:</label>
      <div class="col-2">
        <select class="custom-select" id="statusSelector" name="statusSelector" type="searchBox">
          <option value="" disabled selected>Choose status</option>
          <option value="All">All</option>
          <option value="User">User</option>
          <option value="Manager">Manager</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="badge" class="col-1 col-form-label font-weight-bold text-right">Badge:</label>
      <div class="col-3">
        <input id="badge" name="badgeInput" type="searchBox" placeholder="Enter badge number"/>
      </div>
      <label class="col-2 col-form-label font-weight-bold text-right" for="stationSelector">Station:</label>
      <div class="col-3">
        <select class="custom-select" id="stationSelector" name="stationSelector" type="searchBox">
          <option disabled selected>Choose station</option>
          <option value="All">All stations</option>
          {% for item in stations %}
            {% set sId = item.sId %}
            <option value="{{sId}}">{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-1">
      </div>
      <div class="col-2">
        <div class="btn-group" role="group" aria-label="button-group">
          <button type="submit" id="search" name="search" class="btn btn-primary">Search</button>
          <a href="/userManagement" class="btn btn-secondary" role="button">Clear</a>
        </div>
      </div>
    </div>
  </form>
</div>
<br />

<div class="table-responsive mb-5 pb-5">
  <table class="table table-hover" id="userTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Badge Number</th>
        <th>Validated</th>
        <th>Modify values</th>
      </tr>
    </thead>

    <tbody>
      {% for item in users %}
        <tr>
          <td>{{item.first}} {{item.last}}</td>
          <td>{{item.badge}}</td>
          <td>{{item.confirmation}}</td>
          <td><button class="btn btn-primary" onclick="fwd(this)" data-badge={{item.badge}} >Edit details</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script type="text/javascript">

  function fwd(obj) {
    var badge = obj.getAttribute("data-badge");
    window.location.href = ("/userManagement/" + badge), true;
  };

</script>

{% endblock %}

{% block custom_scripts %}
  <script src="/javascripts/userManagement.js"></script>
{% endblock %}